//////////////////////
/*ESTILOS GENERALES*/

*{
    padding: 0;
     margin: 0;
     scroll-behavior: smooth;
     box-sizing: border-box;
     font-family: Georgia, 'Times New Roman', Times, serif;
}


/* FOOTER */

.footer {
    padding: 2px;
    background-color: rgba(44, 41, 41, 0.712);
}

/* HR */
hr {
    color: white;
}

//IMPORT-STYLES

@import "v-iphone";
@import "v-tablet";
@import "v-desktop";
@import "mixin-variables";

